@import './variables';

/* Card */

.card {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 264px;
  min-height: 336px;
}

.card-image {
  width: 100%;
  min-height: 170px;
  min-width: 263px;
  max-width: 280px;
  max-height: 175px;

  .image {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
  }

  .flag {
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px 5px 0 0 !important;
  }
}

.card-body {
  .card-title {
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: $VeryDarkBlue2;
  }
  .card-text {
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px !important;
  }

  span {
    font-style: bold;
    opacity: 1 !important;
  }
}

.no-countries-container {
  height: 100vh;
}

#dark .no-countries {
  color: $White;
}

.link {
  &:hover {
    color: black;
  }
}
/* Card end*/

.country-input {
  height: 48px;
  border-radius: 5px;
}
