@import './variables';

.form-select {
  height: 56px;
}

.form-control {
  height: 56px;
  border: none !important;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: none !important;
}

.search-inputs {
  border-radius: 5px;

  .search-input {
    margin-top: 5px;
  }
}

.icon {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 25px;
}
// Light dark Mode

#dark .icon {
  background-color: $DarkBlue;
}

#dark .search-inputs {
  border: none !important;
  background-color: $DarkBlue !important;
}

#dark .search-icon {
  fill: white !important;
}

#dark .form-select {
  background-color: $DarkBlue;
  color: $White;
  border: none;
  fill: $White;
}

#dark .form-control {
  color: $White;
}

/* mobile  */
@media only screen and (max-width: 767px) {
  .country-input {
    margin-top: 30px;
  }

  .form-select {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1224px) {
  .form-select {
    margin-top: 48px;
  }

  .form-control {
    height: 48px;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1899px) {
  .form-control {
    height: 48px;
  }
}
